<div class="grid-item element-item <%= style %>">
	<a href="/<%= url %>/<%= id %>.html" >
		<%= image_tag picture %>
		<div class="portfolio-text-holder">
			<p class="portfolio-text"><%= name %></p>
			<p class="portfolio-type"><%= type %></p>
		</div>
	</a>
</div>
